.popup-content {
    display: inline;
}
h1 {
    padding-top: 20px;
    padding-bottom: 20px;
}
h2 {
    padding-top: 40px;
    padding-bottom: 20px;
}
button {
    margin-bottom: 0;
}
.fail {
    color: red;
}
.success {
    color: green;
}